<p>Time.now.last_year.end_of_month.beginning_of day: <strong><%= Time.now.last_year.end_of_month.beginning_of_day %></strong></p>
<hr/>

<p>Time.now.strftime("%A, %B %d, %Y %I:%M %p"): <strong><%= Time.now.strftime('%A, %B %d, %Y %I:%M %p') %></strong></p>
<hr/>

<p>datetime.to_s(:db): <strong><%= Time.now.to_s(:db) %></strong></p>
<p>datetime.to_s(:number): <strong><%= Time.now.to_s(:number) %></strong></p>
<p>datetime.to_s(:time): <strong><%= Time.now.to_s(:time) %></strong></p>
<p>datetime.to_s(:short): <strong><%= Time.now.to_s(:short) %></strong></p>
<p>datetime.to_s(:long): <strong><%= Time.now.to_s(:long) %></strong></p>
<p>datetime.to_s(:long_ordinal): <strong><%= Time.now.to_s(:long_ordinal) %></strong></p>
<hr/>